@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:wght@100&display=swap");

@media only screen and (min-width: 400px) {
  :root {
    --primpary-color: #ffffff;
    --secondary-color: #343233;
    --accent1-color: #d7d1c3;
    --accent2-color: #0f75bc;

    --heading-font: "Bebas Neue", sans-serif;
    --paragraph-font: "Libre Franklin", sans-serif;
  }

  body {
    width: 100%;
    max-width: 100%;
  }

  main {
    background-color: var(--secondary-color);
    padding-bottom: 1rem;
  }

  nav ul {
    padding: 0;
  }

  nav a {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    font-size: 1.5rem;
  }

  nav li {
    list-style-type: none;
    text-align: center;
    margin: 1em;
  }

  nav {
    background-color: var(--secondary-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  section {
    border: 5px solid #0f75bc;
    margin-bottom: 0.5rem;
  }

  section h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
  }

  section h2,
  h3 {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    text-align: center;
  }

  section h2 {
    text-decoration: underline;
  }

  section p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    text-align: center;
  }

  .img-border {
    border: 5px solid #0f75bc;
    width: 390px;
    max-width: 1000px;
  }

  main h1 {
    color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
    text-decoration: underline;
  }

  footer {
    background-color: var(--secondary-color);
  }

  footer span {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
  }

  #join {
    position: absolute;
    top: 90%;
    left: 6rem;
  }
}
