@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:wght@100&display=swap");

@media only screen and (min-width: 400px) {
  :root {
    --primpary-color: #ffffff;
    --secondary-color: #343233;
    --accent1-color: #d7d1c3;
    --accent2-color: #0f75bc;

    --heading-font: "Bebas Neue", sans-serif;
    --paragraph-font: "Libre Franklin", sans-serif;
  }

  nav {
    background-color: var(--secondary-color);
    font-size: 20px;
    /* padding: auto; */
    margin: 0;
    padding: 0;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    text-align: center;
    margin: 20px;
    padding-left: 123px;
  }

  nav a {
    color: var(--accent1-color);
    font-family: var(--heading-font);
  }

  section img {
    padding-bottom: 20px;
  }

  section p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
  }

  main {
    background-color: var(--secondary-color);
    margin-right: 0;
  }

  picture {
    padding: 0;
    margin: 0;
  }

  /* Classes */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
  }

  .flex-container {
    display: flex;
  }

  .home {
    order: 0;
    padding-left: 70%;
  }

  .directory {
    order: 2;
  }

  .contact-us {
    order: 3;
  }

  .card {
    text-align: center;
    background-color: var(--secondary-color);
  }

  .weather-card {
    text-align: center;
    background-color: var(--secondary-color);
    grid-column: 1;
    grid-row: 2;
  }

  .spotlights-card {
    text-align: center;
    background-color: var(--secondary-color);
    grid-column: 1;
    grid-row: 3;
  }

  .paragraph {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
  }

  sun-icon {
    width: 80px;
    height: 40px;
  }

  /* Ids */
  #country-fair {
    grid-column: 2;
  }

  #fireworks {
    grid-column: 2;
  }

  #old-car {
    grid-column: 2;
  }

  #landscape {
    grid-column: 2;
  }

  #equestrian-girl {
    grid-column: 2;
  }

  #silly-guy {
    grid-column: 2;
  }

  #discover {
    order: 1;
  }

  #discover-subtext {
    font-family: var(--heading-font);
    font-size: 30px;
    color: var(--accent1-color);
    padding-top: 10px;
    padding-left: 47%;
    text-decoration: underline;
    grid-column: 1 / span 2;
  }

  #weather-subtext {
    font-family: var(--heading-font);
    font-size: 30px;
    color: var(--accent1-color);
    padding-top: 10px;
    text-decoration: underline;
  }

  #weather-today {
    font-family: var(--heading-font);
    font-size: 15px;
    color: var(--accent1-color);
    padding-top: 10px;
    text-decoration: underline;
  }

  #spotlights-subtext {
    font-size: 30px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding-top: 10px;
    text-decoration: underline;
  }
}
