@media only screen and (min-width: 400px) {
  img {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    font-size: 30px;
    margin: 0 auto;
    max-width: 800px;
  }

  nav ul {
    list-style-type: none;
    padding-left: 0;
  }
  nav a {
    display: block;
    text-align: center;
  }
  body {
    background-color: black;
  }

  li:hover {
    background-color: #3e4756;
  }

  /* classes */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .home {
    color: #d8e0ec;
    font-family: "Poppins", sans-serif;
    text-align: center;
    grid-column: 1/2;
  }

  .chamber {
    color: #d8e0ec;
    font-family: "Poppins", sans-serif;
    text-align: center;
    grid-column: 2/3;
  }

  .site-plan {
    color: #d8e0ec;
    font-family: "Poppins", sans-serif;
    text-align: center;
    grid-column: 3/4;
  }

  .form {
    color: #d8e0ec;
    font-family: "Poppins", sans-serif;
    text-align: center;
    grid-column: 4/5;
  }

  .subtext {
    color: #d8e0ec;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .title_color {
    color: #d8e0ec;
    font-family: "Montserrat", sans-serif;
  }

  .title {
    color: #d8e0ec;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .about_card {
    border-bottom: solid;
    border-bottom-color: #59544b;
  }

  /* IDs */
}
